In [1]:
# To perform API calls to collect Modi's last two weeks tweets 
# Set up dependencys
import tweepy
import pandas as pd
import config

In [2]:
auth = tweepy.OAuthHandler(config.consumer_key, config.consumer_secret)
auth.set_access_token(config.access_token,config.access_token_secret)
api = tweepy.API(auth)

In [3]:
tweets = api.user_timeline(screen_name ="narendramodi", count=200)
for tweet in tweets[:5]:
    print(tweet.text)
    print()

NDA Government is honoured to have undertaken numerous steps for the wellbeing of the middle class. From a friendli… https://t.co/2cTfnoj8pE

India is home to a dynamic middle class, which is making an outstanding contribution to the nation’s progress. The… https://t.co/wDnUggrKSO

Today, on #WorldCancerDay we reiterate our commitment towards ensuring early detection and affordable treatment of… https://t.co/vaUfxBQrJD

Congratulated @DrKrishanMiddha Ji for the remarkable win in Jind.

Over the years, the people of Haryana have been… https://t.co/HsS3BaMjbE

I salute all those who are valiantly fighting cancer. Millions are inspired by their remarkable zeal.

I also appre… https://t.co/SWpWjuoYJH

In [4]:
# Create dataframe of the tweets
tweet_data = pd.DataFrame(data=[tweet.text for tweet in tweets], columns=['Tweets'])
tweet_data.head()

                                              Tweets
0  NDA Government is honoured to have undertaken ...
1  India is home to a dynamic middle class, which...
2  Today, on #WorldCancerDay we reiterate our com...
3  Congratulated @DrKrishanMiddha Ji for the rema...
4  I salute all those who are valiantly fighting ...

In [5]:
# Added data in the dataframe and export to csv to process later
tweet_data['len'] = np.array([len(tweet.text) for tweet in tweets])
tweet_data['ID'] = np.array([tweet.id for tweet in tweets])
tweet_data['Date'] =np.array([tweet.created_at for tweet in tweets])
tweet_data['Source'] = np.array([tweet.source for tweet in tweets])
tweet_data['Likes'] = np.array([tweet.favorite_count for tweet in tweets])
tweet_data['RT'] = np.array([tweet.retweet_count for tweet in tweets])
tweet_data.to_csv("modi.csv")
tweet_data.head()

,Tweets,len,ID,Date,Source,Likes,RT
0,NDA Government is honoured to have undertaken ...,140,1092709705909071872,2019-02-05 09:01:10,Twitter Web Client,14005,3223
1,"India is home to a dynamic middle class, which...",139,1092709704340402176,2019-02-05 09:01:09,Twitter Web Client,19746,4303
2,"Today, on #WorldCancerDay we reiterate our com...",139,1092355257496027136,2019-02-04 09:32:43,Twitter Web Client,13104,2508
3,Congratulated @DrKrishanMiddha Ji for the rema...,140,1092353308654620672,2019-02-04 09:24:58,Twitter Web Client,19282,3314
4,I salute all those who are valiantly fighting ...,140,1092352936825344000,2019-02-04 09:23:29,Twitter Web Client,28141,5306